*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gilroy';
    padding: 0;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 189, 189);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#card{
    height: 420px;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #484848;
}
#stroyian{
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #dadada;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px;
}
#stroyian::-webkit-scrollbar{
    display: none;
}
.story{
   width: 90px;
   height: 90px;
   border-radius: 50%;
   border: 1px solid red;
   overflow: hidden;
   display: inline-block;
   margin: 0px 2px;
}
.story img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: red; */
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
}

#container{
    width: 100%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* border-radius: 10px; */
}
#container img{
    width: 99.7%;
    margin: 0 auto;
     height: 150%;
    object-fit: cover;
    object-position: center;
}
#container img::selection{
    background-color: transparent;
    color: transparent;
}
#container i{
    font-size: 90px;
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform: translate(-50%,-50%) scale(0);
    transition: transform  ease 0.5s;
    opacity: 0.8;
}
#container h2{
    color:#111;
    /* position: absolute; */
    text-align: center;
}

