*{
    padding: 0;
    margin: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width:100%;
}

#hero{
    width:100%;
    height:100vh;
    color:#fff;
    background-color: black;
    /* position: relative; */
}
#nav{
    width: 100%;
    padding: 20px 40px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
}
#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 10vw;
    opacity: 0.6;
    line-height: 1;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 15vw;
}
.blocktext{
    width:fit-content;
}
.blocktext h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
}

#smallheading{
    margin-top:2rem;
    padding-right: 1.5rem;
}
#smallheading h5{
    text-align: right;
    font-size: 16px;
    font-weight: 200;
    margin-top: .5vw;
}
#herofooter{
    
    position: absolute;
    padding: 0 2.4vw;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5vmax;
}
#herofooter #iconset{
    display: flex;
    gap:5px;
}
#herofooter .circle{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #888;
}

#second{
    width: 100%;
    /* height: 100vh; */
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 3vh;
    padding-right: 10vw;
    background-color: black;
}
#second .elem{
    width: 100%;
    border-top:1px solid #888;
    padding: 3.5vw 3vw;
    padding-right: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.2vw;
    opacity: .7;
}
.elemlast {
    border-bottom: 1px solid #888;
}
.elem img{
    position: absolute;
    z-index: 999;
   display: none;
    height: 115%;
    width:32%;
}