*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gilroy';
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#container{
    width: 350px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
#container img{
    width: 100%;
     height: 100%;
    object-fit: cover;
    object-position: center;
}
#container img::selection{
    background-color: transparent;
    color: transparent;
}
#container i{
    font-size: 90px;
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform: translate(-50%,-50%) scale(0);
    transition: transform  ease 0.5s;
    opacity: 0.8;
}
